*{
    margin: 0px;
    padding: 10px;
    font-family: cursive;
    background-color: blanchedalmond;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    
    
}
.a{
    display: flex;
    margin-left:30px;
    width:200px;
    height: 200px;
    border-radius:10px;
    transition:0.5s;
    box-shadow: 0 0 7px rgba(27, 13, 13, 0.2);
    justify-content: center;
}
.a:hover{
   
    width:250px;
    height: 250px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}


